@using DeviceStore.Domain.ViewModel
@using DeviceStore.Domain.Entities
@model FilteredDevicesListViewModel

@{
    ViewBag.Title = "Главная";
}

@foreach (Device d in @Model.Devices)
{
    <div class="col-lg-4 col-md-6" style="display:flex">
        <div class="device-block">
            <div class="device-item">
                <div class="side front">
                    <img src="~/Content/ProductImages/@d.DeviceImage" class="front-img" />
                </div>
                <div class="side back back-item">
                    <div class="col-md-12">
                        <h3 style="color:#111111">@d.DeviceName</h3>
                    </div>
                    <div class="col-md-12">
                        <h3>@d.DeviceCategory</h3>
                    </div>
                    <div class="col-md-12">
                        <p>@d.DeviceDescription</p>
                    </div>
                    <div class="col-md-12">
                        <h4 style="color:#ffbe69">@d.DevicePrice.ToString("# руб.")</h4>
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("AddToBasket", "Basket", new { Id = d.Id })" class="btn btn-success">Добавить в корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="col-md-12 clearfix" />
<div>
    @Html.GeneratesHtmlForPageLinks(Model.PagingInfo, x => Url.Action("Index",
     new
     {
         categoryDevices = Model.CurrentCategory,
         page = x,
     }))
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/flipElement.js"></script>